<div style="display: flex; flex-direction: column;">
  <div style="display: flex;">
    <div style="flex: 1;">
      <h2>Выбранные вещи из вещей пользователя:</h2>
      <ul>
        {{ selectedItemUser }}
      </ul>
    </div>
    
    <div style="flex: 1;">
      <h2>Выбранная вещь из вещей на выбор:</h2>
{{ selectedItemFromChoice }}
    </div>
  </div>

  <div style="display: flex;">
    <div style="flex: 1;">
      <h2>Вещи у пользователя:</h2>
      <ul>
        @for (item of itemsFromUser; track item.name) {
          <li (click)="selectedItemsFromUser(item)">{{ item.name }}</li>
        }
      </ul>
    </div>
    
    <div style="flex: 1;">
      <h2>Вещи на выбор:</h2>
      <ul>
        @for (item of itemsOfChoice; track item.id) {
          <li (click)="selectedItemSelected(item)">{{ item.name }}</li>
        }
      </ul>
    </div>
  </div>
</div>